{        
    "Rule":[
        {"T":1},
        {"T":2}
    ],
    "Barhead":[
        {"T":1},
        {"T":2},
        {"T":3}
    ],
    "PlayerCount":[
        {"T":2},
        {"T":3},
        {"T":4}
    ],
    "Dipiao":[
        {"T":0},
        {"T":1},
        {"T":2},
        {"T":3},
        {"T":4},
        {"T":5},
        {"T":6},
        {"T":7},
        {"T":8},
        {"T":9},
        {"T":10}
    ],
    "RInfo":[
        {"LoopCnt":8, "Fee":1},
        {"LoopCnt":16, "Fee":2}
    ],
    "PaymentType": [
        {"T":1},
        {"T":2}
    ],

    "Def": {
        "Rule":[
            {"T":1}            
        ],
        "Barhead": 1,
        "PlayerCount": 4,
        "Dipiao": 0, 
        "RInfo": {"LoopCnt":8, "Fee":1},
        "PaymentType": 1, 
        "LimitIP": 2,
        "Voice": 1
    }   
}